body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.split-flap {
    display: flex;
    flex-direction: column;
    border: 1px solid #222222;
    background-color: #444444;
    overflow: hidden;
    font-size: 192px;
    height: 200px;
    width: 150px;
    perspective: 1000px;
}

.flap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s cubic-bezier(0.3, 0.0, 0.8, 0.8);
}

.letter {
    display: block;
    line-height: 100px;
}


.top .letter {
    transform: translateY(50px) rotateX(0deg);
}

.bottom .letter {
    transform: translateY(-50px);
}


.top {
    transform-origin: bottom;

}

.bottom {
    border-top: 1px solid #222222;
}

.top .flap {
    transform: translateY(50px) rotateX(0deg);
}

.shadow {
    position: absolute;
    top: 0;
    z-index: 0; /* Stellen Sie sicher, dass es hinter den anderen Flaps liegt */
    transform: scale(0.95); /* Optional: Verkleinern für den Tiefeneffekt */
    opacity: 0.5; /* Optional: Reduzierte Opazität für den Hintergrundeindruck */
}